@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;600&family=Roboto+Slab:wght@500;800&family=Roboto:ital,wght@1,100;1,400;1,500;1,700&display=swap');
:root{
	--preu:#cd9452;
	--black :#222;
	--whitle: #fff;
	--light-black:#666;
	--light-whitle:#ccc;
	--light-bg:#f5f5f5;
	--dark-bg: rgba(0,0,0,.7);
	--border: .1rem solid #aaa;
	--box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
	font-family: 'Dosis', sans-serif;
	margin:0; padding: 0;
	box-sizing: border-box;
	outline: none;border: none;
	text-decoration: none;
	transition: all 0.4s cubic-bezier(.43,1.1,.62,1.8);
	text-transform: capitalize;
}
* > img{
	user-select: none;
	pointer-events: none;
}
html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top:6rem;
	
}
html::-webkit-scrollbar{
	width: 1rem;
}
html::-weblit-scrollbar-track{
	background-color: var(--whitle);
}
html::-weblit-scrollbar-track{
	background-color: var(--preu);
}
section{
	padding: 5rem 10%;
}

.heading{
	text-align: center;
	margin-bottom: 3rem;
}
.heading span{
	font-size: 2.5rem;
	color: var(--preu);
}
.heading h3{
	font-size: 4.5rem;
	color: var(--black);
}
.btn{
	margin-top: 1rem;
	display: inline-block;
	background: var(--preu);
	color: var(--whitle);
	font-size: 2rem;
	cursor: pointer;
	padding: 1rem 3rem;
}
.btn:hover{
	letter-spacing: .2rem;
}

.header{
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	justify-content: space-between;
	box-shadow: var(--box-shadow);
	position: sticky;
	top:0;left: 0;right: 0;
	background: var(--whitle);
	z-index: 1000;
}
.header .logo{
	font-size: 2.5rem;
	font-weight: bolder;
	color: var(--black);
}
.header .logo i{
	color: var(--preu);
	padding-right: .7rem;
}
.header .navbar a{
	font-size: 2rem;
	margin-left: 2rem;
	color: var(--light-black);
}
.header .navbar a:hover{
	color: var(--preu);
}
#menu-btn{
	font-size: 2.5rem;
	cursor: pointer;
	color: var(--black);
	display: none;
}
@keyframes fadeIn{
	0%{
		transform: translateY(-4rem) scale(0);
		opacity: 0;
	}
}
.home{
	padding: 0;
	background: var(--black);
}
.home .slides{
	min-height: 100vh;
	background-size: cover !important;
	background-position: center !important;
	position: relative;
	z-index: 0;
	/*--------------------- align item*/
	display: flex;	
	align-items: center;
	justify-content: center;
}
.home .slides::before{
	content: '';
	position: absolute;
	top:0; left: 0;
	height: 100%;
	width:100%;
	background: var(--dark-bg);
	z-index: -1;
}
.home .slides .content{
	text-align: center;
	width: 70rem;
	/*=================*/
	display: none;
}
.home .slides .content span{
	font-size: 3rem;
	display: block;
	padding-bottom: .5rem;
	color: var(--light-whitle);
	/*=================*/
	animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .2s backwards;
}
.home .slides .content h3{
	font-size: 8vw;
	text-transform: uppercase;
	color: var(--whitle);
	text-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
	line-height: 1;
	padding: 2rem 0;
	/*===============================*/
	animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .2s backwards;
}
.home .slides .content .btn{
	animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .6s backwards;
}

.home .swiper-slide-active .content{
	display: inline-block;
}

.swiper-button-next,
.swiper-button-prev{
	height: 5rem;
	width: 5rem;
	line-height: 5rem;
	background: var(--whitle);
	color: var(--black);
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
	background: var(--preu);
	color: var(--whitle);
}

.swiper-button-next::after,
.swiper-button-prev::after{
	font-size: 2rem;
}
.about{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap:2rem;
}
.about .image{
	flex: 1 1 41rem;
}
.about .image img{
	width: 100%;
}
.about .content{
	flex: 1 1 41rem;
}
.about .content .title{
	font-size: 4rem;
	color: var(--black);
}
.about .content p{
	font-size: 1.7rem;
	color: var(--light-black);
	padding: 1rem 0;
	line-height: 2;
}
.about .content .icons-container{
	display: flex;
	flex-wrap: wrap;
	gap:2rem;
	margin-top: 2rem;
}
.about .content .icons-container .icons{
	flex: 1 1 16rem;
	text-align: center;
	background: var(--light-bg);
	padding: 3rem 2rem;
}
.about .content .icons-container .icons img{
	height: 5rem;
}
.about .content .icons-container .icons h3{
	padding-top: 1rem;
	font-size: 2rem;
	color: var(--light-black);
	font-weight:normal; 
}


.food{
	background: var(--light-bg);
}
.food .slide{
	text-align: center;
	padding:3rem 2rem;
	/* ===================== code 242 to 243* change little light*/ 
	transform: scale(.9);
	opacity: .5;
	margin-bottom: 4rem;
	/* ======================== */
	cursor: pointer;
}
.swiper-pagination-bullet-active{
	background: var(--preu);
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
	bottom: 0;
}
.food .swiper-slide-active{
	transform: scale(1);
	opacity: 1;
	background: var(--whitle);
	box-shadow: var(--box-shadow);
	border:var(--border);
}
.food .slide img{
	height: 25rem;
	margin-bottom: 1rem;
}
.food .slide h3{
	font-size: 2.5rem;
	padding: 1rem 0;
	color: var(--black);
}
.food .slide .price{
	font-size: 2.5rem;
	color: var(--preu);
}

.food-preview-container{
	background: var(--dark-bg);	
	position: fixed;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
	z-index: 1100;
	/* display: flex; */
	display: none;
	align-items: center;
	justify-content: center;
}
.food-preview-container .food-preview{
	text-align: center;
	background: var(--whitle);
	padding: 3rem 2rem;
	border-radius: .5rem;
	display: none;
	width: 35rem;
}
.food-preview-container .food-preview.active{
	display: inline-block;
	/* =================== */
	animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34)backwards;
}
.food-preview-container .food-preview img{
	height: 25rem;
	margin-bottom: 1rem;

}
.food-preview-container .food-preview h3{
	padding: 1rem 0;
	font-size: 2.5rem;
	color: var(--black);
}
.food-preview-container .food-preview .stars{
	margin-top: .5rem;
}
.food-preview-container .food-preview .stars i{
	font-size: 1.7rem;
	color: var(--preu);
}
.food-preview-container .food-preview p{
	font-size: 1.6rem;
	color: var(--light-black);
	padding: 1rem 0;
	line-height: 2;
}
.food-preview-container .food-preview .price{
	font-size: 2.5rem;
	color: var(--black);
	margin-bottom: .5rem;
}
#close-preview{
	position: absolute;
	top: 1.5rem;right: 2.5rem;
	font-size: 6rem;
	color: var(--whitle);
}
#close-preview:hover{
	transform: rotate(180deg);
}

.gallery .gallery-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap:2rem;

}
.gallery .gallery-container .box{
	height: 40rem;
	position: relative;
	overflow: hidden;
}
.gallery .gallery-container .box img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.gallery .gallery-container .box .icon{
	/* display: flex; */
	display: none;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0; left: 0;
	z-index: 10;
	height: 100%;
	width: 100%;
	background: var(--dark-bg);
}
.gallery .gallery-container .box .icon i{
	font-size: 6rem;
	color: var(--whitle);
}
.gallery .gallery-container .box:hover .icon{
	display:flex;
}
.menu{
	background: var(--light-bg);
}
.menu .slide .title{
	padding: 1rem;
	font-size: 3rem;
	color: var(--whitle);
	background: var(--preu);
	margin-bottom: 3rem;
	text-align: center;
}
.menu .slide .box-container{
	display: flex;
	flex-wrap: wrap;
	gap:2rem;
	/* =========== */
	padding-bottom: 4rem
}
.menu .slide .box-container .box{
	flex:1 1 41rem;
	background: var(--whitle);
	padding: 2rem;
	box-shadow: var(--box-shadow);
	border: var(--border);
	/* ================================== */
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: space-between;
}
.menu .slide .box-container .box h3{
	font-size: 2.5rem;
	color: var(--black);
	padding-bottom:.5rem ;
}
.menu .slide .box-container .box p{
	font-size: 1.6rem;
	color: var(--light-black);
	line-height: 2;
}
.menu .slide .box-container .box .price{
	font-size: 2.5rem;
	color: var(--preu);
}
.menu .slide .box-container .box:hover{
	transform: scale(.9);
}
.order{
	background: var(--preu);
}
.order .heading span{
	color: var(--whitle);
}

.order .heading h3{
	color: var(--whitle);
}
.order form{
	padding: 2rem;
	background: var(--whitle);
	box-shadow: var(--box-shadow);
}


.order form .box-container{
	display: flex;
	flex-wrap: wrap;
	gap:2rem;
}
.order form .box-container .box{
	flex: 1 1 41rem;
}
.order form .box-container .box .input-box input,
.order form .box-container .box .input-box textarea{
width: 100%;
margin: 1rem 0;
padding: 1.2rem 1.4rem;
font-size: 1.7rem;
color: var(--light-black);
border: var(--border);
text-transform: none;
}

.order form .box-container .box .input-box input::placeholder,
.order form .box-container .box .input-box textarea::placeholder{
	text-transform: capitalize;

}
.order form .box-container .box .input-box input:focus,
.order form .box-container .box .input-box textarea:focus{
	background:var(--black);
	color:var(--whitle);

}

.order form .box-container .box .input-box input:focus::placeholder,
.order form .box-container .box .input-box textarea:focus::placeholder{
	color: var(--light-whitle);

}

.order form .box-container .box .input-box textarea{
	height: 20rem;
	resize: none;
}
.order form .box-container .box .input-box .map{
	height: 20rem;
	width: 100%;
	margin: 1rem 0;
	padding: .5rem 0;
	
}

.order form .box-container .box .input-box span{
	color: var(--light-black);
	font-size: 2rem;
}
.blog{
	background: var(--light-bg);
}
/* .blog .slide{
	width: 35rem;
} */
.blog .slide .image{
	height: 25rem;
	overflow: hidden;
	position: relative;
}
.blog .slide .image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.blog .slide .image span{
	position: absolute;
	bottom: -10rem; left:50%;
	transform: translateX(-50%);
	padding: .5rem 1.5rem;
	font-size: 2rem;
	color: var(--whitle);
	background: var(--black);
	/* ============= */
	z-index: 10;
}
.blog .slide:hover .image span{
	bottom: 1rem;
}
.blog .slide:hover .image img{
	transform: scale(1.1);
}
.blog .slide .content{
	padding: 2rem;
	background: var(--whitle);
	box-shadow: var(--box-shadow);
	border: var(--border);
}

.blog .slide .content .icon{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}
.blog .slide .content .icon a{
	font-size: 1.5rem;
	color: var(--light-black);
}
.blog .slide .content .icon a i{
	padding-right: .7rem;
	color: var(--preu);
}
.blog .slide .content .icon a:hover{
	color: var(--light-black);
}

.blog .slide .content .title{
	font-size: 2.5rem;
	color: var(--black);
}
.blog .slide .content .title:hover{
	text-decoration: underline;
}
.blog .slide .content p{
	padding: 1rem 0;
	line-height: 2.5rem;
	font-size: 1.6rem;
	color: var(--light-black);
}
.footer{
	text-align: center;
}
.footer .icon-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 2rem;
}

.footer .icon-container .icons{
	text-align: center;
	padding: 3rem 2rem;
}
.footer .icon-container .icons i{
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	background-color: var(--preu);
	color: var(--whitle);
	margin-bottom: .5rem;
	line-height: 5.8rem;
	font-size: 2rem;
}

.footer .icon-container .icons h3{
	font-size: 2rem;
	color:var(--black);
	padding: 1rem 0;
}
.footer .icon-container .icons p{
	line-height: 1.5;
	font-size: 1.7rem;
	color: var(--light-black);
	text-transform: none;
}
.footer .share{
	margin: 2rem 0;
}
.footer .share a{
	height: 6rem;
	width: 6rem;
	line-height: 5.8rem;
	color: var(--whitle);
	background: var(--black);
	margin: 0 .3rem;
	font-size: 2.5rem;
}
.footer .share a:hover{
	background: var(--preu);
}
.footer .credit{
	padding-top: 2rem;
	margin-top: 2rem;
	border-top: var(--border);
	font-size: 2rem;
	color: var(--light-black);
}
.footer .credit span{
	color: var(--preu);
}


/* .loader-con{
	position: fixed;
	top:0; left:0;
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width:100%;
}
.loader-con.fadeOut{
	top:-100%;
} */







/*media queeries*/
@media(max-width: 1200px){
	section{
		padding: 3rem 5%;

	}

}

@media(max-width: 991px){
	section{
		padding: 3rem 2rem;

	}
	html{
		font-size: 55%;
	}
	.home .slides .content h3{
		font-size: 15vw;
	}

}

@media(max-width: 768px){
	#menu-btn{
		display: inline-block;
	}
	.fa-times{
		transform: rotate(180deg);
	}
	
	.header .navbar{
		position: absolute;
		top: 99%; left: 0;right: 0;
		background-color: var(--whitle);
		border-top: var(--border);
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	.header .navbar.active{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
	.header .navbar a{
		display: block;
		margin: 2rem;
	}

	.swiper-button-next,
	.swiper-button-prev{
		top:initial;
		bottom: 1rem;
}
.menu .slide .box-container .box{
	flex-flow: column;
	text-align: center;
}

}

@media(max-width: 450px){
	html{
		font-size: 50%;
	}

	.home .slides .content h3{
		font-size: 7rem;
	}
}